*.code-workspace
build/
.vscode/
__pycache__/
trybus_cw2a.txt
lab2/**/*.png
lab2-lagrange_interpolation/**/*.png
lab4_notes.txt
lab2/
lab4-spline/notatki.txt
lab5-approx/notes.txt
egzamin_mownit.pdf
lab9-linear-systems-v2/notes.txt
lab9-linear-systems-v2/tmp/
``